extends layout

block content

  div.header
    div.loggedout_menubar_container.container
      
      div.title
        h1 
          a(href="localhost:3000/" title="Go to Facebook home" class='button')
            p=title
          
      form.login.form-group(method='POST' action='')
        label.user_login.row1.col1(for='user_id') Email or Phone
        input#user_id.form-control.row2.col1(type='text', name='user_id')
        label.user_login.row1.col2(for='user_password') Password
        input#user_password.form-control.row2.col2(type='password', name='user_password')
        button.btn.btn-primary.row2.col3 Log In
        
  div.pvl.container
    div.leftside
      h3.row-1.col-1 
        p #[strong Connect with friends and the world around you on Facebook]
        //p #[strong Users:] #{data.user_count}
      div#see_img_p
        img.lfloat( src='https://scontent-dft4-1.xx.fbcdn.net/v/t39.2365-6/851565_602269956474188_918638970_n.png?oh=64fb20ff3a10258f53e5c6d870075443&oe=5B4C82F5' style='verticle-align: middle')
        p #[strong See photos and updates]   from friends in News Feed. 
        
      div#share_img_p 
        img.lfloat(src='https://scontent-dft4-1.xx.fbcdn.net/v/t39.2365-6/851585_216271631855613_2121533625_n.png?oh=e769a968becfeb593976a012ba4871b6&oe=5B03ED20' style='verticle-align: middle')
        p #[strong Share what's new] in your life on your Timeline.
        
      div#find_img_p
        img.lfloat( src='https://scontent-dft4-1.xx.fbcdn.net/v/t39.2365-6/851558_160351450817973_1678868765_n.png?oh=76f565d273a2a2a37d0268766d91dc8f&oe=5B0CC3D8' style='verticle-align: middle')
        p #[strong Find more]    of what you're looking for with Facebook Search.
         
    div.rightside
      h1 #[strong Sign Up]
      h4 It's free and always will be
      form(method='POST' action='')
        div.form-row
          div.form-group.col-sm-4
            input.form-control(type='text', placeholder='First name', name='first_name', required='true')
          div.form-group.col-sm-4
            input.form-control(type='text', placeholder='Last name', name='family_name', required='true')
          
        div.form-group.col-md-8
          input#phone_number.form-control(type='number', placeholder='Mobile number or email', name='phonenumber' required='true')
        div.form-group.col-md-8
          input#password.form-control(type='password', placeholder='New password', name='new_password' required='true')
        div.form-group.col-md-8
          label.lfloat(for='birth_day') Birthday
          input#birth_day.form-control(type='date', name='birth_date', required='true')
        div.form-group.radio-group
          div.form-check.form-check-inline
            input#female.gender.form-check-input(type='radio', name='gender', value='female') 
            label.form-check-label(for='female') Female
            input#male.gender.form-check-input(type='radio', name='gender', value='male')  
            label.form-check-label(for='male') Male

        p#agreement By clicking Create Account, you agree to our Terms and that you have read our Data Policy, including our Cookie Use. You may receive SMS Notifications from Facebook and can opt out at any time.
      
      button.btn.btn-primary.btn-lg(type='submit') Create Account
      br
      button.btn.btn-link(href='/localhost:3000') Create a page
      | for a celebrity, band or business.

  footer
    if errors
      ul
        for error in errors
          li!= error.msg

