extends layout

block content
  div(class="container")
    h1= title
    
  div(class="container")
    p Connect with yourself and the world around you on Basedbook.
  div(class="container")
    h3 Sign Up
    h5 It's free and always will be

