extends layout

block content
  div.header
    div.loggedout_menubar_container
      div.lfloat
        h1 
          a(href="localhost:3000/" title="Go to Basedbook home" class='button')
            p=title
    
  div.pvl
    div.leftside
      h3 
        p #[strong Connect with yourself and the world around you on Basedbook]
      
      img.img.ltimg( src='https://scontent-dft4-1.xx.fbcdn.net/v/t39.2365-6/851565_602269956474188_918638970_n.png?oh=64fb20ff3a10258f53e5c6d870075443&oe=5B4C82F5' style='verticle-align: middle')
      p #[strong See photos and updates] from friends in News Feed. 
    
      img.img.ltimg(src='https://scontent-dft4-1.xx.fbcdn.net/v/t39.2365-6/851585_216271631855613_2121533625_n.png?oh=e769a968becfeb593976a012ba4871b6&oe=5B03ED20' style='verticle-align: middle')
      p #[strong Share what]'s #[strong new] in your life on your Timeline.
      
      img.img.ltimg( src='https://scontent-dft4-1.xx.fbcdn.net/v/t39.2365-6/851558_160351450817973_1678868765_n.png?oh=76f565d273a2a2a37d0268766d91dc8f&oe=5B0CC3D8' style='verticle-align: middle')
      p #[strong Find more] of what you're looking for with Facebook Search.
    
    div.rightside
      h1 #[strong Sign Up]
      h4 It's free and always will be
      div.form

      p By clicking Create Account, you agree to our Terms and that you have read our Data Policy, including our Cookie Use. You may receive SMS Notifications from Facebook and can opt out at any time.
      
      label.btn Create Account

      a(href='/localhost:3000') Create a page 
      | for a celebrity, band or business.

