body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #1D2129;
  background: none repeat scroll 0% 0% #FFF;
  direction: ltr;
  line-height: 1.34;
  margin: 0px;
  padding: 0px;
  unicode-bidi: embed;
}
.user_login {
  color: white;
}

.header {
  background-color: #3B5998;
  background-image: linear-gradient(#4E69A2, #3B5998 50%);
  border-bottom: 1px solid #133783;
  min-height: 78px;
  z-index: 1;
}

.loggedout_menubar_container {
  display:grid;
  grid-gap:40%;
}

.title {
  grid-column:1;
  grid-row:1;
  margin-left:1%;
}

.login {
  grid-column:2;
  grid-row:1;
}

.pvl {
  display: grid;
  grid-template-columns:auto;
  grid-template-rows:auto;
  grid-gap: 3%;
  grid-auto-rows:auto;
  grid-column-gap: 16px;
}

.leftside {
  grid-column:1;
  grid-row:1;
  margin-left: 16px;

}

.rightside {
  grid-column: 2;
  grid-row:1;
}


@media only screen and (max-width:767px) {
  .pvl {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:(1,1fr);
    grid-gap: 3%;
    grid-auto-rows:auto;
  }
  
  .leftside {
    grid-column:1;
    grid-row:1;
    margin-left: 16px;
  }
  
  .rightside {
    grid-column: 1;
    grid-row:2;
    margin-left: 16px;
  }
}

a{
  color: black;
  color: black;
}

.button, .button:hover {
  color: white;
  text-decoration: none !important
}